body {
	margin: 0px;
	padding: 0px;
	background: #000 url(../visuels/bg.png) top left repeat-x;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, .ui-page-theme-a .ui-body-inherit {
	background: #000 url(../visuels/bg.png) top left repeat-x;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
.cleaner {
	clear: both;
	height: 1px;
	overflow: hidden;
	width:100%;
}
.spacer {
	clear: both;
	height: 6px;
	overflow: hidden;
	width:100%;
}
.header{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background: #333;
}


.footer{
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:0;
	background: #333;
}
.banner
{
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
  overflow-x:-webkit-marquee;
  -webkit-marquee-direction: forwards;
  -webkit-marquee-style: scroll;
  -webkit-marquee-speed: normal;
  -webkit-marquee-increment: small;
  -webkit-marquee-repetition: 6;
  overflow-x: marquee-line;
  marquee-direction: forward;
  marquee-style: scroll;
  marquee-speed: normal;
  marquee-play-count: 6;
}
#dispo, #dispo_jobs, #dispo_cmd
{
	width: 64%;
	display: inline-block;
}
#warn, #warn_cmd, #warn_home
{
	width: 32%;
	display: inline-block;
	margin-left: 2%;
}
#results {
	color: #F00;
	font-weight: bolder;
}
#screen a {
	display: block;
	width: 96%;
	padding: 6px;
	margin: 6px;
	font-weight: bolder;
	font-size: 32px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.link {
	display: inline-block;
	width: 50%;
}
#screen_job {
	text-align: left;
}
#screen_job a {
	display: inline-block;
	width: 50%;
	font-weight: bolder;
	font-size: 32px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#screen_job_cmd {
	text-align: left;
}
#screen_job_cmd a {
	display: inline-block;
	width: 50%;
	font-weight: bolder;
	font-size: 32px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#jobacc {
	color: #333;
	background-color: #6F0;
	box-shadow: 0 0 2px #6F0;
	-moz-box-shadow: 0 0 2px #6F0; 
	-webkit-box-shadow: 0 0 2px #6F0;
}
#jobref {
	color: #333;
	background-color: #F00;
	box-shadow: 0 0 2px #F00;
	-moz-box-shadow: 0 0 2px #F00; 
	-webkit-box-shadow: 0 0 2px #F00;
}			
#later {
	color: #333;
	background-color: #FFF;
	border: #666;
	box-shadow: 0 0 2px #CCC;
	-moz-box-shadow: 0 0 2px #CCC; 
	-webkit-box-shadow: 0 0 2px #CCC;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	padding: 6px;
	margin: 6px;
}			
.later_head {
	font-size: 24px;
	color: #000;
}
.auction {
	font-size: 24px;
	color: #333;
}
.info_head {
	font-size: 24px;
	color: #333;
}
#dispo a {
	display: block;
	width: 96%;
	padding: 2px;
	margin: 6px;
	font-weight: bolder;
	font-size: 16px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#joblinks {
	font-weight:bolder;
	box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000; 
    -webkit-box-shadow: 0 0 6px #000;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #EEE;
	color: #313131;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#histBlock, #infos_map {
	text-align: left;
}
#histBlock ul, infos_map ul {
	color: #09F;
}
#marquee-wrapper
{
	position:relative;
	width:100%;
	overflow:hidden;
	height:100%;
}
#marquee
{
	position:absolute;
	top:0px;
	left:0px;
	white-space : nowrap;
}
h3 {
	color: #F00;
}
body, #gmap-4, .page { height:100%; }
.ui-body-c a.ui-link { color: #008595; font-weight: bold; text-decoration: none; }
.hidden { display:none; }
.min-width-480px label.ui-input-text { font-weight:bold; display: block; }
.adp-directions { width:100%; }
.adp-placemark, .adp-summary, .adp-legal { display:none; margin: 0; }
.adp-placemark, .adp-step, .adp-stepicon, .adp-substep{ border-top: none;text-align:center; vertical-align: middle; padding: 0.8em 0; background:#e9eaeb;color:#3e3e3e;text-shadow:0 1px 1px #fff;background-image:-moz-linear-gradient(top,#f0f0f0,#e9eaeb);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f0f0f0),color-stop(1,#e9eaeb));-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#e9eaeb')"}
.adp-directions tr { border:1px solid #b3b3b3; }
h2 { font-size: 16px; overflow: hidden; white-space: nowrap; display: block; }
.more { text-align: center; }
.clear { clear:both; }
#control { width:100%; background: #f4f4f4; opacity: 0.9}
#control div { margin: 0em 0 1em 0; }
#control input#places { width:95%; }